<div class="container">
    <div class="card o-hidden border-0 rounded-lg shadow-lg my-5 mx-auto" style="max-width: 700px;">
        <div class="card-body p-0">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="p-5">
                        <div class="text-left">
                            <%= link_to root_path, class: "btn btn-link" do %>
                            <i class="fas fa-arrow-left"></i> Voltar
                            <% end %>
                        </div>
                        <div class="text-center">
                            <h2 class="h2 text-gray-900 mb-2">Reenviar as intruções de confirmação?</h2>
                            <p class="mb-4">Podemos te ajudar através do e-mail cadastrado na sua conta. Digite-o abaixo para prosseguir.</p>
                        </div>
                        <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
                        <%= render "devise/shared/error_messages", resource: resource %>
                        <% end %>
                        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: "user", method: :post }) do |f| %>
                        <%= render "devise/shared/error_messages", resource: resource %>
                        <div class="form-group">
                            <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "form-control", id: "exampleInputEmail", placeholder: "Insira seu endereço de e-mail..." %>
                        </div>
                        <div class="actions">
                            <%= f.submit "Reenviar", class: "btn btn-danger btn-block" %>
                        </div>
                        <% end %>
                        <hr>
                        <div class="text-center">
                            <%= render "devise/shared/links" %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
