<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
    <%= link_to course_path(@course), class:"card" do %>
    <% if @course.modality == "Musculação"%>
    <img class="card-img-top" src="https://s2-oglobo.glbimg.com/tCi4YPIy6K0HBPMLGnt00WSvbrQ=/0x0:4000x2667/888x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_da025474c0c44edd99332dddb09cabe8/internal_photos/bs/2023/c/a/O7y1EGRAelLLVURwHeqQ/strong-man-training-gym.jpg" alt="Card image cap" />
    <% elsif @course.modality == "Karate" %>
    <img class="card-img-top" src="https://jkabrasil.com.br/wp-content/uploads/2023/01/jka-brasil-karate-graduacao-1.jpg" alt="Card image cap" />
    <% end %>
    <div class="card-body">
        <h5 class="card-title"><%= @course.modality %></h5>
        <p class="card-text">
        As inscrições começam dia <strong> <%= @course.start_date.strftime("%d/%m/%Y às %H:%M") %> </strong> e terminam dia <strong><%= @course.end_date.strftime("%d/%m/%Y às %H:%M") %></strong>.
        Com o Total de <strong> <%= @course.slots %> Vagas </strong>, restando apenas <strong><%= @course.slots - @course.enrollments.count %> Vagas</strong>.
        Horario das aulas: <strong> <%= @course.class_time %> </strong>
        </p>
    </div>
    <div class="card-footer">
        <small class="text-muted">
        <%= time_left_in_words %>
        </small>
    </div>
    <% end %>
</div>
