<div class="container">
    <h1 class="text-center">Meus Cursos Inscritos</h1>
    <p class="mb-5 text-center">
        Aqui você pode visualizar os cursos em que você está inscrito.
        Caso deseje cancelar a inscrição em algum curso, basta clicar no botão "Cancelar Inscrição".
        Caso você cancele, não será possível recuperar a inscrição e você perderá o direito desta vaga.
    </p>
    <table class="table table-bordered bg-white shadow-sm rounded-4">
        <thead>
            <tr>
                <th>Modalidade</th>
                <th>Início das inscrições</th>
                <th>Término das inscrições</th>
                <th>Dia e horário das aulas</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% if @enrollments.any? %>
            <% @enrollments.each do |enrollment| %>
            <tr>
                <td><%= enrollment.course.modality %></td>
                <td><%= enrollment.course.start_date %></td>
                <td><%= enrollment.course.end_date %></td>
                <td><%= enrollment.course.class_time %></td>
                <td class="d-flex justify-content-center">
                    <%= button_to 'Cancelar Inscrição', enrollment_path(enrollment), method: :delete, class: 'btn btn-outline-danger btn-block' %>
                </td>
            </tr>
            <% end %>
            <% else %>
            <tr>
                <td colspan="5" class="text-center text-muted">Você ainda não se inscreveu em nenhum curso.</td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>

<style>
    .table {
        border-collapse: separate;
        border-spacing: 0;
        border-radius: 0.25rem;
        overflow: hidden;
        border: 1px solid #9999998f;
    }
</style>