<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="mb-4">Painel do Administrador</h1>
            <p>Seja bem-vindo ao painel do administrador, <b><%= current_user.username %></b>.
                Aqui você pode enviar e-mails para os usuários do sistema, visualizar, modificar e
                excluir cursos. Utilize o menu lateral para navegar entre outras opções disponíveis.
            </p>
        </div>
    </div>

    <%= render "shared/admin_main" %>

    <div class="row mt-5">
        <div class="col-12 col-lg-8 mx-auto">
            <div class="card shadow-sm mb-4">
                <div class="card-header bg-light text-dark">
                    <h2 class="card-title mb-0 fw-bold">Enviar E-mail</h2>
                </div>
                <div class="card-body">
                    <%= form_with url: emails_path, method: :post, class: "needs-validation", novalidate: true do |f| %>
                    <div class="mb-3">
                        <%= f.label :recipient_type, "Destinatários", class: "form-label fw-bold" %>
                        <%= f.select :recipient_type, options_for_select([
                    ['Todos os usuários', 'all'],
                    ['Cursos', 'outros'] ]), {},
                    class: "form-select", id: "recipient-type-select" %>
                    </div>

                    <div id="course-select-field" class="mb-3" style="display: none;">
                        <%= f.label :course_ids, "Selecione os cursos", class: "form-label fw-bold" %>

                        <% if Course.active.any? %>
                        <h5 class="mt-2 text-secondary">Cursos em andamento</h5>
                        <div class="form-check">
                            <% Course.active.each do |course| %>
                            <div class="mb-2">
                                <%= check_box_tag "course_ids[]", course.id, false, class: "form-check-input", id: "course-#{course.id}" %>
                                <%= label_tag "course-#{course.id}", course.modality, class: "form-check-label" %>
                            </div>
                            <% end %>
                        </div>
                        <% end %>

                        <% if Course.finished.any? %>
                        <h5 class="mt-3 text-secondary">Cursos finalizados</h5>
                        <div class="form-check">
                            <% Course.finished.each do |course| %>
                            <div class="mb-2">
                                <%= check_box_tag "course_ids[]", course.id, false, class: "form-check-input", id: "course-#{course.id}" %>
                                <%= label_tag "course-#{course.id}", course.modality, class: "form-check-label" %>
                            </div>
                            <% end %>
                        </div>
                        <% end %>
                    </div>

                    <div class="mb-3">
                        <%= f.label :subject, "Assunto", class: "form-label fw-bold" %>
                        <%= f.text_field :subject, required: true, class: "form-control", placeholder: "Digite o assunto do e-mail" %>
                    </div>

                    <div class="mb-3">
                        <%= f.label :message, "Mensagem", class: "form-label fw-bold" %>
                        <%= f.text_area :message, required: true, class: "form-control", rows: 5, placeholder: "Digite a mensagem do e-mail" %>
                    </div>

                    <div class="d-grid">
                        <%= f.submit "Enviar E-mail", class: "btn btn-secondary" %>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>

    <div class="container mb-4">
    <h1 class="h4 mb-3">Buscar Usuários</h1>

    <%= form_with url: admin_dashboard_path, method: :get, data: { turbo_frame: "users_results" }, html: { class: "row g-2 align-items-center" } do %>
        <div class="col-auto">
        <%= label_tag :query, "Nome:", class: "form-label" %>
        </div>
        <div class="col-auto">
        <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Digite o nome..." %>
        </div>
        <div class="col-auto">
        <%= submit_tag "Buscar", class: "btn btn-primary" %>
        </div>
    <% end %>

    <hr>

    <turbo-frame id="users_results">
        <%= render partial: "users_list", locals: { users: @users } %>
    </turbo-frame>
    </div>
</div>