<div class="container">
  <div class="card o-hidden border-0 rounded-lg shadow-lg my-5 mx-auto" style="max-width: 700px;">
    <div class="card-body p-0">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <h2 class="card-title">alterar senha</h2>
            </div>
            <div class="card-body">
              <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "form" }) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>
                <%= f.hidden_field :reset_password_token %>

                <div class="mb-3">
                  <%= f.label :password, "Nova senha", class: "form-label" %>
                  <% if @minimum_password_length %>
                    <small class="form-text text-muted">
                      (<%= @minimum_password_length %> caracteres no mínimo)
                    </small>
                  <% end %>
                  <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control" %>
                </div>

                <div class="mb-3">
                  <%= f.label :password_confirmation, "Confirmar nova senha", class: "form-label" %>
                  <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
                </div>

                <div class="actions">
                  <%= f.submit "Change my password", class: "btn btn-primary w-100" %>
                </div>
              <% end %>
            </div>
            <div class="card-footer">
              <%= render "devise/shared/links" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>