<div id="sidebar" class="d-flex flex-column p-3 collapsed">
    <% @seed = rand(1..20) %>
    <img src="https://api.dicebear.com/7.x/thumbs/png?seed=<%= @seed %>" class="rounded-3" style="width: 50px;" alt="Avatar" />
    <div id="sidebar-toggler">
        <i class="fas fa-bars"></i>
    </div>
    <hr>
    <ul class="nav flex-column">
        <li class="nav-item mb-3">
            <a href="/" class="nav-link">
                <i class="fas fa-home"></i> <span>Início</span>
            </a>
        </li>
        <li class="nav-item mb-3">
            <%= link_to edit_user_registration_path, class: "nav-link" do %>
                <i class="fas fa-user"></i> <span>Perfil</span>
            <% end %>
        </li>
        <li class="nav-item mb-3">
            <%= link_to user_enrolled_courses_path, class: "nav-link" do %>
                <i class="fas fa-user-check"></i> <span>Minhas Turmas</span>
            <% end %>
        </li>
        <li class="nav-item mb-3">
            <%= link_to results_path, class: "nav-link" do %>
                <i class="fas fa-download"></i> <span>Resultados</span>
            <% end %>
        </li>
        <% if current_user.admin? %>
        <li class="nav-item mb-3">
        <%= link_to admin_dashboard_path, class: "nav-link" do %>
            <i class="fas fa-users-cog"></i> <span>Dashboard</span>
        <% end %>
        </li>
        <li class="nav-item mb-3">
        <%= link_to new_course_path, class: "nav-link" do %>
            <i class="fas fa-plus"></i> <span> Nova Turma</span>
        <% end %>
        </li>
        <% end %>
        <li class="nav-item mb-3">
            <%= button_to destroy_user_session_path, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "nav-link", style: 'border: none; background: none; margin: auto;' do %>
                <i class="fas fa-sign-out-alt"></i> <span>Sair</span>
            <% end %>
        </li>
    </ul>
</div>

<script>
    document.getElementById("sidebar-toggler").addEventListener("click", function() {
        let sidebar = document.getElementById("sidebar");
        let icon = this.querySelector("i");

        sidebar.classList.toggle("collapsed");
        
        if (sidebar.classList.contains("collapsed")) {
            icon.classList.remove("fa-times");
            icon.classList.add("fa-bars");
        } else {
            icon.classList.remove("fa-bars");
            icon.classList.add("fa-times");
        }
    });
</script>