<h1 class="mb-4 text-center">Inscrever-se no Curso</h1>

<%= form_with model: [@course, @enrollment], local: true, html: { class: "card p-4 shadow-lg mx-auto", style: "max-width: 500px;" } do |f| %>
  <div class="mb-3">
    <%= f.label :name, "Nome", class: "form-label fw-bold" %>
    <%= f.text_field :name, value: current_user.username, readonly: true, class: "form-control" %>
  </div>
  
  <div class="mb-3">
    <%= f.label :phone_number, "Telefone", class: "form-label fw-bold" %>
    <%= f.text_field :phone_number, value: current_user.phone_number, readonly: true, class: "form-control", data: { mask: "(00) 00000-0000" } %>
  </div>
  
  <div class="mb-3">
    <%= f.label :birthdate, "Data de Nascimento", class: "form-label fw-bold" %>
    <%= f.date_field :birthdate, value: current_user.birthdate, readonly: true, class: "form-control" %>
  </div>
  
  <div class="mb-3">
    <%= f.label :email, "E-mail", class: "form-label fw-bold" %>
    <%= f.email_field :email, value: current_user.email, readonly: true, class: "form-control" %>
  </div>
  
  <div class="mb-3">
    <%= f.label :cpf, "CPF", class: "form-label fw-bold" %>
    <%= f.text_field :cpf, value: current_user.cpf, readonly: true, class: "form-control" %>
  </div>

  <div class="text-center">
    <%= f.submit "Confirmar Inscrição", class: "btn btn-primary btn-lg w-100" %>
  </div>
<% end %>
