<div class="container">
  <h2>Informções sobre <%= @user.username %></h2>

  <h3>Dados</h3>
  <table class="table">
    <thead>
      <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Data de Nascimento</th>
      <th>CPF</th>
      <th>Numero</th>
      </tr>
    </thead>
    <tbody>
      <td><%= @user.username %></td>
      <td><%= @user.email %></td>
      <td><%= l(@user.birthdate, format: :long) %></td>
      <td><%= @user.cpf %></td>
      <td><%= @user.phone_number %>
    </tbody>
  </table>
  <h3>Cursos inscritos</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Curso</th>
        <th>Data de Início</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <% @enrollments.each do |enrollment| %>
        <tr>
          <td><%= enrollment.course.modality %></td>
          <td><%= l(enrollment.course.start_date, format: :short) %></td>
          <td>
            <%= button_to 'Remover', 
                remove_enrollment_admin_enrolled_courses_path(@user, enrollment_id: enrollment.id), 
                method: :delete,
                class: 'btn btn-danger btn-sm' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'Voltar', :back, class: 'btn btn-secondary' %>
</div>