<h1 class="mb-4 text-center">Inscritos no Curso: <%= @course.modality %></h1>

<div class="table-responsive">
  <table class="table table-bordered table-hover shadow-sm">
    <thead class="table-primary text-center">
      <tr>
        <th>Nome</th>
        <th>Telefone</th>
        <th>Data de Nascimento</th>
        <th>E-mail</th>
        <th>CPF</th>
        <th>Remover</th>
      </tr>
    </thead>
    <tbody>
      <% @enrollments.each do |enrollment| %>
        <tr>
          <td><%= enrollment.user.username %></td>
          <td><%= enrollment.user.phone_number %></td>
          <td><%= enrollment.user.birthdate.strftime("%d/%m/%Y") %></td>
          <td><%= enrollment.user.email %></td>
          <td><%= enrollment.user.cpf %></td>
          <td>
            <%= button_to 'Remover', remove_enrollment_course_path(@course, user_id: enrollment.user.id), 
                method: :delete, 
                class: 'btn' %>
            <%= link_to 'Ver Cursos', 
          admin_enrolled_courses_path(user_id: enrollment.user.id), 
          class: 'btn btn-info btn-sm' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
