<h1>Detalhes do Curso</h1>

<p>
  <strong>Modalidade:</strong>
  <%= @course.modality %>
  <% if @course.custom_modality.present? %>
    (<%= @course.custom_modality %>)
  <% end %>
</p>

<p>
  <strong>Início das inscrições:</strong>
  <%= @course.start_date %>
</p>

<p>
  <strong>Término das inscrições:</strong>
  <%= @course.end_date %>
</p>

<p>
  <strong>Dia e horário das aulas:</strong>
  <%= @course.class_time %>
</p>

<p>
  <strong>Vagas disponíveis:</strong>
  <%= @course.slots %>
</p>

<% if current_user.admin? %>
  <%= link_to 'Ver Inscritos', enrolled_users_course_path(@course) %>
  <%= link_to "Editar", edit_course_path(@course), class: 'btn btn-warning' %>
  <%= button_to "Deletar", course_path(@course), method: :delete, class: 'btn btn-danger' %>
<% else %>
  <%= link_to 'Inscrever-se', new_course_enrollment_path(@course) %>
<% end %>

<%= link_to 'Voltar', root_path %>
