<div class="container mt-5">
    <h1 class="mb-4">Detalhes do Curso</h1>
    
    <div class="card p-4 shadow-sm">
        <p><strong>Modalidade:</strong> <%= @course.modality %>
            <% if @course.custom_modality.present? %>
                (<%= @course.custom_modality %>)
            <% end %>
        </p>
        <p><strong>Início das inscrições:</strong> <%= @course.start_date %></p>
        <p><strong>Término das inscrições:</strong> <%= @course.end_date %></p>
        <p><strong>Dia e horário das aulas:</strong> <%= @course.class_time %></p>
        <p><strong>Vagas disponíveis:</strong> <%= @course.slots %></p>
    </div>
    
    <div class="mt-4">
        <% if current_user.admin? %>
            <a href="<%= enrolled_users_course_path(@course) %>" class="btn btn-primary">Ver Inscritos</a>
            <a href="<%= edit_course_path(@course) %>" class="btn btn-warning">Editar</a>
            <%= button_to "Deletar", course_path(@course), method: :delete, class: "btn btn-danger" %>
        <% else %>
            <a href="<%= new_course_enrollment_path(@course) %>" class="btn btn-success">Inscrever-se</a>
        <% end %>
        
        <a href="<%= root_path %>" class="btn btn-secondary">Voltar</a>
    </div>
</div>